
html,body
{
    height: 100%;
}
body {
    background-color:aquamarine;
    margin: 0;
    padding: 32px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
 
}

.main-title {
    color: #162121;
}

.list
{
    width: 90%;
    max-width: 960px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 16px;
    list-style-type: none;

}

.list-item01
{
    flex-basis: 280px;
    background-color: white;
    border-radius: 5%;
    text-align: center;
    box-shadow: 0 2px 8px rgba(0, 0, 0, .2);
    background-image: url(imagens/thumb05.jpg);
    background-size: 100%;
    background-repeat: no-repeat;
}

.list-item02
{
    flex-basis: 280px;
    background-color: white;
    border-radius: 5%;
    text-align: center;
    box-shadow: 0 2px 8px rgba(0, 0, 0, .2);
    background-image: url(imagens/thumb02.jpg);
    background-size: 100%;
    background-repeat: no-repeat;
}
.list-item03
{
    flex-basis: 280px;
    background-color: white;
    border-radius: 5%;
    text-align: center;
    box-shadow: 0 2px 8px rgba(0, 0, 0, .2);
    background-image: url(imagens/thumb01.jpg);
    background-size: 100%;
    background-repeat: no-repeat;
}
.list-item04
{
    flex-basis: 280px;
    background-color: white;
    border-radius: 5%;
    text-align: center;
    box-shadow: 0 2px 8px rgba(0, 0, 0, .2);
    background-image: url(imagens/thumb03.jpg);
    background-size: 100%;
    background-repeat: no-repeat;
}
.list-item05
{
    flex-basis: 280px;
    background-color: white;
    border-radius: 5%;
    text-align: center;
    box-shadow: 0 2px 8px rgba(0, 0, 0, .2);
    background-image: url(imagens/thumb04.jpg);
    background-size: 100%;
    background-repeat: no-repeat;
}
.list-item06
{
    flex-basis: 280px;
    background-color: white;
    border-radius: 5%;
    text-align: center;
    box-shadow: 0 2px 8px rgba(0, 0, 0, .2);
    background-image: url(imagens/thumb06.jpg);
    background-size: 100%;
    background-repeat: no-repeat;
}
.list-item__imagem img
{
    border-radius: 50%;
    width: 80px;
    margin-top:120px;

}

.list-item__name
{
    margin: 0;
    font-size: 24px;
    color: #383838;
}

.list-item__icons
{
    display: flex ;
    background-color: #e5e5e5;
    padding: 16px;
    gap: 16px;
    justify-content: space-evenly;
}